<!DOCTYPE html>
<html class="client-nojs" lang="ja" dir="ltr">
  <head>
  <nav>
    <ul>
    <li><%= link_to 'フィード一覧', feeds_path %></li>
    <li><%= link_to '新規フィード作成', new_feed_path %></li>
    </ul>
   </nav>
    <title>FacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-background">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <% if logged_in? %>
  <%= link_to "Profile", user_path(current_user.id) %>
  <%= link_to "Logout", session_path(current_user.id), method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "Login", new_session_path %>
<% end %>
<div class="edfg">
  <div>アプリを始めよう!</div>
</div>
<footer id="footer"></footer>
<button class="custom-button">ボタン</button>
  <%= yield %>
  </body>
</html>
